# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| PyCharm            |

### Below are a few examples of evaluating arithmetic expressions in Python.

This is a simple arithmetic expression to multiply then add integers
result=(3*4)+5
print(result)

# This is a simple arithmetic expression to multiply then add integers.

result= (3*4)+5
print('result')

In [6]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3*4) + 5
result

17

In [7]:
# This will convert 200 minutes to hours by dividing by 60
minutes=200
hours=minutes/60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Introduce common libraries used in Data Science.
- Explore development environments for Data Science.
- Evaluate arithmetic expressions in Python.
- Convert minutes to hours using Python.

## El James
Jamie Dornan